<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestTrace.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add
          name="TextWriterTraceListener"
          type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="C:\temp\myFunkyTrace.log" />
        </listeners>
      </trace>
      
      <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                  <add name="XmlWriter" />
                  <add name="TextWriter"
                       type="System.Diagnostics.TextWriterTraceListener"
                       initializeData="c:\temp\Debug2.log" />
                  <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                  <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/>
          <add name="XmlWriter"
               type="System.Diagnostics.XmlWriterTraceListener, 
                 System, Version=2.0.0.0, 
                 Culture=neutral, PublicKeyToken=b77a5c561934e089"
               initializeData="c:\temp\sampleLogFile.xml" />
          
          <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener,System" initializeData="c:\temp\Debug.log" />

        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <TestTrace.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </TestTrace.My.MySettings>
    </applicationSettings>
</configuration>
