<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestsUnitaires.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TestsUnitaires.SettingsTests" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TestsUnitaires.Settings1.ConnSqlExpress" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Pierre\Documents\TestsUnitaires.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TestsUnitaires.Settings1>
            <setting name="tn01" serializeAs="String">
                <value>TN01</value>
            </setting>
        </TestsUnitaires.Settings1>
        <TestsUnitaires.SettingsTests>
            <setting name="TestString" serializeAs="String">
                <value>Salut mec !</value>
            </setting>
        </TestsUnitaires.SettingsTests>
    </applicationSettings>
</configuration>