<?xml version="1.0"?>
<!-- 
    Remarque : au lieu d'éditer manuellement ce fichier, vous pouvez utiliser
    l'outil d'administration Web pour configurer les paramètres de votre
    application. Utilisez l'option Site Web->Configuration Asp.Net de Visual Studio.
    Vous trouverez la liste complète des paramètres et commentaires dans 
    machine.config.comments, situé généralement dans 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="PublicPageName" value="FactoryStateView.aspx"/>
    <add key="ListOfServicesToManage" value="Themes;AMS QDAUpload;ZPointCS;AMS ZPointCS server;Oracle;OracleOracle9iTNSListener;OracleServiceORC1;TwinCAT System Service"/>
    <add key="ListeOfUsersAccess" value="TKPEUROPE\B1P_Informatique;TKPEUROPE\B1P_SMC;TKPEUROPE\B1P_PLL-Steering gl;TKPEUROPE\B1P_PLC-Admin gl;TKPEUROPE\B1P_SMS-Admin gl;TKPEUROPE\B1P_Twincat"/>
    <add key="FileOfMachineList" value="~/App_Data/MachineList.txt"/>
    <add key="ZPointCSLogsPath" value="\c$\Program Files\AMS\ZPointCS\log\"/>
    <add key="OracleLogsPath" value="\c$\ORA_DAT\TRACE\ORC1\BDUMP\alert_orc1.log"/>
    <add key="IntFilterTimeLogs" value="4"/>
    <add key="StringFilterError" value="6"/>
    <add key="StringFilterWarning" value="5"/>
  </appSettings>
  <connectionStrings/>
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="smtpserver1" port="25" userName="username" password="secret" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics configSource="traceLog.config"/>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur à true uniquement 
            lors du développement.
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off"/>
    <!--<identity impersonate="true"
              userName="registry:HKEY_LOCAL_MACHINE\SOFTWARE\AspNetIdentity\SrvManagment,userName"
              password="registry:HKEY_LOCAL_MACHINE\SOFTWARE\AspNetIdentity\SrvManagment,password"/>-->
    <trace writeToDiagnosticsTrace="true" enabled="false" requestLimit="5" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>