<?xml version="1.0"?>
<!-- 
    Remarque : au lieu d'éditer manuellement ce fichier, vous pouvez utiliser
    l'outil d'administration Web pour configurer les paramètres de votre
    application. Utilisez l'option Site Web->Configuration Asp.Net de Visual Studio.
    Vous trouverez la liste complète des paramètres et commentaires dans 
    machine.config.comments, situé généralement dans 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear/>
				<!--<add name="TraceEventLog"/>-->
				<add name="TraceFileLog"/>
			</listeners>
		</trace>
		<sources>
			<source name="DefaultSource" switchName="SwitchWebSite">
				<listeners>
					<add name="TraceFileLog"/>
					<!--<add name="TraceEventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<clear/>
			<add name="SwitchWebSite" value="Information"/>
		</switches>
		<sharedListeners>
			<!--<add name="TraceEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="WebRisk"/>-->
			<add name="TraceFileLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\tmp\TestLogWebRisk5.log"/>
		</sharedListeners>
	</system.diagnostics>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/d:TRACE" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1"/>
			<!--<compiler language="VB"
                extension=".vb"
                compilerOptions="/d:Trace=true"
                type="Microsoft.VisualBasic.VBCodeProvider, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
		</compilers>
	</system.codedom>
	<system.web>
		<!-- 
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur en utilisant true uniquement 
            lors du développement.

            Options Visual Basic :
            Définissez strict="true" pour interdire les conversions de types de données 
            susceptibles d'entraîner des pertes de données. 
            Définissez explicit="true" pour forcer la déclaration de toutes les variables.
        -->
		<compilation debug="true" strict="true" explicit="true"/>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Diagnostics"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
		<authentication mode="Windows"/>
		<!--
            La section <customErrors> permet de configurer 
            les actions à exécuter si/quand une erreur non gérée se produit 
            lors de l'exécution d'une demande. Plus précisément, 
            elle permet aux développeurs de configurer les pages d'erreur html 
            pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
		<trace writeToDiagnosticsTrace="true"/>
	</system.web>
</configuration>
