<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    
    <!---Fichier contenant la liste des fichiers-->
    <add key="ListFile" value="c:\temp\scf\liste.csv"/>

    <!-- Nom du fichier ini du Client-->
    <add key="ClientFileName" value="Parametres.ini"/>
    <!---Nom du fichier ini du Serveur-->
    <add key="ServerFileName" value="Parametres.ini"/>

    <!-- Chemin du fichier log Client-->
    <add key="outClient" value="c:\temp\scf\outputClient.csv"/>
    <!---Chemin du fichier log Serveur-->
    <add key="outServer" value="c:\temp\scf\outputServeur.csv"/>
  </appSettings>
  
</configuration>
