<system.diagnostics>
  <sources>
    <source name="TraceTest" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <clear/>
        <add name="fileListener" />
        <add name="eventListener" />
        <remove name="Default"/>
      </listeners>
    </source>
  </sources>
  <switches>
    <clear/>
    <add name="SourceSwitch" value="All"/>
  </switches>
  <sharedListeners>
    <add name="fileListener"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="log\LogSrvManagment.txt"
           traceOutputOptions="DateTime"/>
    <add name="eventListener"
           type="System.Diagnostics.EventLogTraceListener"
           traceOutputOptions="DateTime"
           initializeData="SrvManagment"/>
  </sharedListeners>
  <trace autoflush="true" indentsize="4">
    <listeners>
      <clear/>
      <add name="fileListener"/>
      <add name="eventListener"/>
    </listeners>
  </trace>
</system.diagnostics>